@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pb_banner {
    @apply flex h-[235px] flex-col;
  }
  .title {
    @apply ml-6 mt-[33px] text-2xl font-bold;
  }
  .link {
    @apply mr-5 mt-[87px] flex justify-end text-sm font-bold text-white underline decoration-1 hover:text-white hover:underline;
  }
}
.mainCarousel.ant-carousel {
  margin: 0 -16px !important;
}
.mainCarousel.ant-carousel .slick-dots-top {
  width: 70px !important;
  margin-left: auto !important;
}

.mainCarousel.ant-carousel .slick-dots-top li,
.mainCarousel.ant-carousel .slick-dots-top .slick-active {
  width: 6px !important;
  height: 6px !important;
}

.mainCarousel.ant-carousel .slick-dots-top li button {
  width: 6px !important;
  height: 6px !important;
  border-radius: 50% !important;
}
