@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
  width: 100vw;
  height: 100vh;
}

main {
  background-color: #fff;
  min-width: 390px;
  max-width: 425px;
  height: 100%;
  margin: auto;
  background-color: #fff;
}

.formInput {
  width: 100%;
  border-bottom: 1px solid #000;
}

.formInput:focus-visible {
  outline: none;
}